div.ui.secondary.pointing.menu(style='height: 50px; background-color: #fff;')
  div.ui.container
    a.header.item Valorant Bot
    a.item(href='/' class=(name === "index" ? "active" : undefined)) Home
    a.item(href='/config' class=(name === "config" ? "active" : undefined)) Config
    div.menu.right
      div.item.link
        div.ui(id='start-bot')
          i.icon.play
          span(style='font-weight: bold') Start Bot
