html
  head
    title Valorant Bot Status
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div.ui.container(style='padding-top: 30px')
      h1.ui.center.aligned.header Valorant Bot
      table.ui.celled.table
        thead
          tr
            th Account Name
            th Token
            th Next Streamer
            th Watching
            th Got Key?
        tbody
      div
        p(id='status') Last updated: #[span(id='time') 0 second(s) ago.]
  script.
    var socket = io();
    let time = 0;
    let status;
    socket.on('connect', () => {
      if (status) {
        time = 0;
        $('#status').html(status);
      }
    })
    socket.on('disconnect', () => {
      status = $('#status').html();
      $('#status').html('Offline');
    })
    socket.on('update', ({ table }) => {
      time = 0;

      if (!table.length && !($('[id^="id"]'))) {
        const row = $('<tr id="loading"></tr>');
        row.append('<td>Loading...<td>');
        $('tbody').append(row);
      } else {
        const loading = $('#loading');
        if (loading) {
          loading.remove();
        }
      }

      for (i in table) {
        if (!isNaN(i)) {
          const found = $('tr#id_' + i);
          if (found.length) {
            $('tr#id_' + i).find('#name').html(table[i][0]);
            $('tr#id_' + i).find('#token').html(table[i][1]);
            $('tr#id_' + i).find('#next').html(table[i][2]);
            $('tr#id_' + i).find('#watching').html(table[i][3]);
            $('tr#id_' + i).find('#gotkey').html(table[i][4]);
          } else {
            const row = $('<tr id="id_' + i + '"></tr>');
            row.append(`<td id="name">${table[i][0]}</td>`);
            row.append('<td id="token">' + table[i][1] + '</td>');
            row.append('<td id="next">' + table[i][2] + '</td>');
            row.append('<td id="watching">' + table[i][3] + '</td>');
            row.append('<td id="gotkey">' + table[i][4] + '</td>');
            $('tbody').append(row);
          }
        }
      }
    });

    setInterval(() => {
      $('#time').html(time + ' second(s) ago.');
      time += 1;
    }, 1000);
