doctype html
html
  head
    title Valorant Bot Status
    link(rel='stylesheet' href='css/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include scripts/index-header.js.pug
  body
    include elements/header.pug
    div.ui.container.main

      table.ui.celled.striped.table
        thead
          tr
            th Account Name
            th Token
            th Next Streamer
            th Watching
            th Got Key?
            th Actions
        tbody
        tfoot.full-width
          tr
            th(colspan='6')
              div.table-bottom
                p(id='status' style='margin: 0') Last updated: #[span(id='time') 0 second(s) ago.]
                div.ui.buttons
                  button.ui.primary.button.right.floated(style='margin-left: 5px;' onclick='reload()') Reload
                  div.or
                  button.ui.negative.button.right.floated(onclick='restart()') Restart

      div.bottom-container
        div.ui.raised.segment.newacc-div
          h3.ui.blue.ribbon.label Add new account
          div.ui.action.input(id='auth-token-div' style='margin-top: 15px')
            input(type='text', id='auth-token' placeholder='Auth Token')
            button.ui.primary.button(onclick='addAccount()') Adicionar
        div.ui.segments.logs-div
          div.ui.segment
            h3(style='margin-bottom: 0;') Logs
          div.ui.secondary.segment
            div.container(id='logs-container')
              p(id='logs-text')

      div.modal.micromodal-slide(id='modal-screenshot' aria-hidden='true')
        div.modal__overlay(tabindex='-1' data-micromodal-close)
          div.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-screenshot-title')
            header.modal__header
              h2.modal__title(id='modal-screenshot-title') Screenshot
              button.modal__close(aria-label='Close modal' data-micromodal-close)
            div.modal__content(id='modal-screenshot-content')
              img.modal__screenshot__image(id='modal-screenshot-image' src='')
              a(id='modal-screenshot-newtab' href='#' target='_blank') Open in a new tab

  include scripts/index.js.pug
  include scripts/header.js.pug
