@import "global.css";
@import "micromodal.css";
@import "perfect-scrollbar.css";

.table-bottom {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.bottom-container {
  display: flex;
}

.bottom-container .logs-div {
  margin: 0 0 0 10px;
  width: 100%;
}

.newacc-div {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .bottom-container {
    flex-direction: column;
  }

  .newacc-div {
    margin: 0 !important;
  }

  .bottom-container .logs-div {
    margin: 0;
    margin-top: 14px;
  }
}
